apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: orders-project
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/srinathbolleboina/Orders_Project.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: orders-app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
